# Archivos locales y configuración de Android Studio
*.iml
.gradle/
local.properties
/.idea/
.DS_Store

# Archivos generados
/build/
captures/
.externalNativeBuild/
.cxx/

# Configuración de IntelliJ
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml

# Archivos APK y otros resultados de compilación
*.apk
output.json

# Archivos de logs
*.log

# Archivos de configuración o claves sensibles
google-services.json
*.jks
*.keystore

# Archivos de perfiles de Android
*.hprof

